{% load email_filters %}

<html><body>

<h1 style="margin-bottom:0;">{% blocktrans with event.title as title and event.start_dt|date:"N j, Y \a\t f A" as start_dt %}{{ title }} on {{ start_dt }}{% endblocktrans %}</h1>
<h3 style="margin:0;">{{ SITE_GLOBAL_SITEDISPLAYNAME }} {% trans "Event Volunteer Confirmation" %} {% if for_admin %}{% trans "(Admin Copy)" %}{% endif %}</h3>

<div style="background-color:#FFC; padding:10px; font-size:1.2em;">
    {% trans "Volunteer Complete. Enjoy the Event!" %}
</div>

<div style="padding:10px; font-size:1.2em;">
<a href="{{ SITE_GLOBAL_SITEURL }}{% url "event.ics_single" event.pk reg8n.guid %}?reg8n_id={{ reg8n.id }}">{% trans "Add this event to your calendar" %}</a>
</div>

</body></html>
