<!-- Tendenci Specific Load Tags (Delete as Needed)
=========================================================== -->
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load box_tags %}
{% load news_tags %}
{% load nav_tags %}
{% load event_tags %}
{% theme_extends "base.html" %}

<!-- Meta Tags (for optimal SEO)
=========================================================== -->
{% block title %}{{ block.super }} | {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}

{% block meta_description %}{{ block.super }}{% endblock %}

{% block meta_keywords %}{{ block.super }}, {{ SITE_GLOBAL_SITESECONDARYKEYWORDS }}{% endblock %}


<!-- Start of the Body
=========================================================== -->
{% block body_ids %}sub{% endblock body_ids %}
{% block body_classes %}sub{% endblock body_classes %}

{% if request.path == "/chapters/" %}
{% block top_bar %}
{% if request.user.is_authenticated %}
    {% include "chapters/top_nav.html" %}
    {% if request.user.impersonated_user and request.user.impersonated_user.is_superuser or request.user.is_superuser %}
        {% if request.session.theme %}
            {% include "themes/theme_top.html" %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
{% endif %}

{% block html_body %}


<!-- Header Starts
=========================================================== -->
{% theme_include "header.html" %}<!-- Pulls in Header Include -->
<!-- Header Ends -->

<div id="page-top">
  <div class="container">
    <!-- Start -->
    
    <div class="{% block content_classes %} {% endblock %}">
      {% block content_messages %}
      {% spaceless %}{% theme_include "base/messages.html" %}{% endspaceless %}
      {% endblock %}
      
      {% block content %}
      {# Main content goes here #}
      {% endblock %}
    </div>
    
  </div>
  <!-- End -->
  
</div>
<div id="start-chapter-cta">
    <div class="container not-on-map">
      {% box 9 %}
    </div>
  </div> <!-- #start-chapter-cta -->
<br>
<footer class="{% block footer_classes %}col-xs-12 col-sm-12 col-md-12{% endblock %}">
  {% block footer %}
  {% spaceless %}{% theme_include "footer.html" %}{% endspaceless %}
  {% endblock %}
</footer>
{% endblock %}