{% load base_tags %}
{% load nav_tags %}
{% load box_tags %}
{% load chapter_tags %}
{% load theme_tags %}
<div id="top-nav-block">
<div id="top-nav" class="nav navbar-nav navbar-right"> <!-- right justifed link in separate nav -->  
    {% nav 2 %}
</div>
</div>
<!-- start: navbar outer -->
<nav id="main-hdr-chapter" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header"> 
<!-- responsive btn --> 
      <div class="logo-mobile visible-xs-inline-block">
         <div class="txt-editor-nav-mobile">{{ chapter.mission|safe }}</div>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-label="Primary Chapter Navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
    </div> <!-- end: navbar-header --> 
<!-- navigation -->     
    <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav">  <!-- main nav -->
         {% if chapter %}
      <div class="txt-editor-nav">{{ chapter.mission|safe }}</div>
          {% else %}
          
          {% nav 1 %}
          
         {% endif %}
        </div>
        
      </div>
    </div>
    
  </div> <!-- end: container-fluid --> 
</nav>
<!-- end: navbar outer -->
<!--<script>
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("t-navbar-static-top");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>-->